.hero{
    position:relative;
}

.banner-image{
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
    height: auto;
}

.hero-caption{
    position: absolute;
    width: 94%;
    bottom:0;
    left: 6%;
 
}

.caption-image{
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}

.hero-caption p{
    max-width: 700px;
    font-size: 17px;
    

}



.hero-buttons{
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
    gap: 10px;
}

.hero-buttons .btn img{
    width: 25px;
}

.hero-buttons .btn{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border: 0;
    padding: 8px 20px;
    outline: 0;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}

.hero-buttons .btn.dark-btn{
    color: #fff;
    background: #6d6d6d;
}

.hero-buttons .btn:hover{
    background:#ffffffbf;
}
.hero-buttons .btn.dark-btn:hover{
    background: #6d6d6e66;
}

.more-cards{
    padding-left: 6%;
}

@media (max-width: 1024px) {
    .hero-caption .title-cards{
       display: none;
    }

    .hero-buttons{
        margin-bottom: 30px;
    }

}

@media (max-width: 800px) {
    .hero-caption{
        padding-left: 4%;
    }

    .caption-image{
        width: 40%;
        margin-bottom: 10px;
    }
    
    .hero-caption p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    
     .hero-buttons .btn img{
        width: 20px;
    }
    
    .more-cards{
        padding-left: 4%;
    }
}

    @media (max-width: 500px) {
        
        .caption-image{
            display: none;
        }
        
        .hero-buttons .btn img{
            width: 15px;
        }
        .hero-buttons .btn{
            padding: 5px 10px;
            gap: 5px;
            font-size: 10px;
        }
    }